body
{
background-image: url(background/tlo1.jpg)
}
table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid black;
}

body { text-align: center; }
table { margin: 0 auto; text-align: left; }

